.performance {
	padding: $section-padding;

	&__title {
		@include font-h2;

		margin: 0;
		margin-bottom: 59px;

		span {
			color: $color-text-secondary;
		}

		@include md {
			margin-bottom: 30px;
		}

		@include sm {
			margin-bottom: 0;
		}
	}

	&__list {
		@include list-reset;

		display: flex;
		flex-direction: column;
		margin-bottom: 99px;

		@include md {
			margin-bottom: 80px;
		}

		@include sm {
			margin-bottom: 50px;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&:not(:last-child) {
			margin-bottom: 10px;

			@include md {
				margin-bottom: 30px;
			}

			@include sm {
				margin-bottom: 40px;
			}
		}

		@include sm {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__button {
		margin: 0 auto;
		min-width: 275px;
	}

	@include md {
		padding: $section-padding-mobile;
	}
}

.item-performance {
	> *:first-child {
		margin-right: 25px;

		@include sm {
			margin: 0 auto;
		}
	}

	&__image {
		max-width: calc(50% - 25px);

		@include sm {
			order: -1;
			max-width: 80%;
		}

		@include sm {
			max-width: 100%;
		}
	}

	&__text {
		flex: 1 1 50%;
		max-width: 100%;
	}

	&__title {
		margin: 0;
		margin-bottom: 17px;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: $color-text-secondary;
	}

	&__list {
		@include list-reset;
	}

	&__item {
		@include font(12px, 14px, 15px, 17px);

		position: relative;
		padding-left: 17px;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 5px;
			display: inline-block;
			border-radius: 50%;
			width: 9px;
			height: 9px;
			background-color: $color-text-primary;
		}

		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
}
