<header class="header">
	<div class="container header__container">
		<button class="burger burger-close">
			<span class="burger__line"></span>
		</button>
		<a href="#" class="header__logo">
			<img src="img/logo.svg" alt="Lillelium лого">
		</a>
		<div class="header__adaptive">
			<button class="header__close burger-close">
				<svg>
					<use xlink:href="img/sprite.svg#close"></use>
				</svg>
			</button>
			<nav class="nav header__nav">
				<ul class="nav__list">
					<li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
					<li class="nav__item"><a href="#" class="nav__link">Цены</a></li>
					<li class="nav__item"><a href="#" class="nav__link">Кейсы и отзывы</a></li>
					<li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
				</ul>
			</nav>
			<div class="contacts header__contacts">
				<div class="contacts__top">
					<div class="contacts__social">
						<a href="#" class="contacts__social-link" target="_blank">
							<svg>
								<use xlink:href="img/sprite.svg#telegram"></use>
							</svg>
						</a>
						<a href="#" class="contacts__social-link" target="_blank">
							<svg>
								<use xlink:href="img/sprite.svg#whatsapp"></use>
							</svg>
						</a>
					</div>
					<a href="mailto:info@ru" class="contacts__email">info@lillelium.ru</a>
					<a href="tel:+12345678900" class="contacts__phone">+ 1 (234) 567 89 00</a>
				</div>
				<span class="contacts__schedule">Ежедневно с 09:00 до 18:00</span>
			</div>
		</div>
		<button class="button button_primary header__button button-modal">
			<svg>
				<use xlink:href="img/sprite.svg#phone"></use>
			</svg>
			Заказать звонок</button>
	</div>
</header>