<section class="main-block">
	<div class="container main-block__container">
		<div class="main-block__content">
			<h1 class="main-block__title">Разработка интернет-магазинов <span>на 1C-Битрикс</span></h1>
			<p class="main-block__description">Разработаем интернет-магазин за&nbsp;30&nbsp;дней с&nbsp;уникальным
				дизайном и&nbsp;продуманной структурой который <span>выделит вас на&nbsp;фоне конкурентов</span></p>
			<div class="main-block__bottom">
				<button class="button button_primary main-block__button button-modal">Узнать стоимость</button>
				<p class="main-block__caption">
					<span>Оставьте заявку и&nbsp;получите бесплатную консультацию от&nbsp;специалиста, полный расчет
						стоимости
						разработки и&nbsp;бонус:
					</span>
					&laquo;15&nbsp;сервисов которые покажут стратегию продвижения
					конкурентов,
					всё об&nbsp;их&nbsp;выдаче в&nbsp;поиске и&nbsp;не&nbsp;только&raquo;
				</p>
			</div>
			<div class="main-block__image">
				<img src="img/main-block-image.png" alt="Разработка сайтов">
				<div class="ripples">
					<span class="ripples__item"></span>
					<span class="ripples__item"></span>
					<span class="ripples__item"></span>
					<span class="ripples__item"></span>
					<span class="ripples__item"></span>
				</div>
			</div>
		</div>
		<a href="#benefits" class="scroll main-block__scroll">
			<svg>
				<use xlink:href="img/sprite.svg#scroll-arrow"></use>
			</svg>
		</a>
	</div>
</section>