<section class="performance">
	<div class="container">
		<h2 class="performance__title">Что вы&nbsp;<span>получаете ?</span></h2>
		<ul class="performance__list">
			<li class="item-performance performance__item">
				<img src="img/performance-1.jpg" alt="" class="item-performance__image" loading="lazy">
				<div class="item-performance__text">
					<h3 class="item-performance__title">Каталог товаров</h3>
					<ul class="item-performance__list">
						<li class="item-performance__item">возможность выгружать свои товары в&nbsp;неограниченном
							количестве
						</li>
						<li class="item-performance__item">добавлять и&nbsp;редактировать описание товаров
						</li>
						<li class="item-performance__item">сортировать товары по&nbsp;заданным критериям
						</li>
						<li class="item-performance__item">моментальная оплата товара или оформление при помощи
							добавления корзины
						</li>
					</ul>
				</div>
			</li>
			<li class="item-performance performance__item">
				<div class="item-performance__text">
					<h3 class="item-performance__title">Оформление заказа</h3>
					<ul class="item-performance__list">
						<li class="item-performance__item">личный кабинет
						</li>
						<li class="item-performance__item">корзина с&nbsp;отображением выбранных товаров
						</li>
						<li class="item-performance__item">оформление заказа с&nbsp;указанием контактных данных
						</li>
						<li class="item-performance__item">возможность приема онлайн-платежей
						</li>
						<li class="item-performance__item">использование купонов, скидок и&nbsp;специальных предложений
						</li>
					</ul>
				</div>
				<img src="img/performance-2.jpg" alt="" class="item-performance__image" loading="lazy">
			</li>
			<li class="item-performance performance__item">
				<img src="img/performance-3.jpg" alt="" class="item-performance__image" loading="lazy">
				<div class="item-performance__text">
					<h3 class="item-performance__title">Интеграции</h3>
					<ul class="item-performance__list">
						<li class="item-performance__item">1С, Мой склад (выгрузка товаров на&nbsp;сайт, полная
							синхронизация)
						</li>
						<li class="item-performance__item">Маркетплейсы (Яндекс.Маркет, Wildberries, Goods, Ozon)
						</li>
						<li class="item-performance__item">Интеграция со&nbsp;службами доставки СДЭК, Почта России
						</li>
					</ul>
				</div>
			</li>
			<li class="item-performance performance__item">
				<div class="item-performance__text">
					<h3 class="item-performance__title">CRM</h3>
					<ul class="item-performance__list">
						<li class="item-performance__item">фиксация и&nbsp;отслеживание поступивших заявок
						</li>
						<li class="item-performance__item">уведомления о&nbsp;заказах
						</li>
						<li class="item-performance__item">отчетность магазина
						</li>
					</ul>
				</div>
				<img src="img/performance-4.jpg" alt="" class="item-performance__image" loading="lazy">
			</li>
		</ul>
		<button class="button button_primary performance__button button-modal">Узнать стоимость</button>
	</div>
</section>