<section class="certificates">
	<h2 class="visually-hidden">Сертификаты</h2>
	<div class="container">
		<div class="certificates__container">
			<div class="certificates__wrapper">
				<img src="img/gold-bitrix.png" alt="Золотой битрикс" class="certificates__image-decor" loading="lazy">
				<div class="swiper certificates__swiper">
					<div class="swiper-wrapper certificates__items">
						<div class="swiper-slide certificates__item">
							<div class="certificates__label">Сертификат</div>
							<div class="certificates__name">Золотой сертифицированный партнер битрикс</div>
							<img src="img/sertif-1.jpg" alt="Золотой сертифицированный партнер битрикс"
								class="certificates__image" loading="lazy">
						</div>
						<div class="swiper-slide certificates__item">
							<div class="certificates__label">Сертификат</div>
							<div class="certificates__name">Программы мониторинга качества внедрений</div>
							<img src="img/sertif-2.jpg" alt="Программы мониторинга качества внедрений"
								class="certificates__image" loading="lazy">
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</div>
</section>