<section class="benefits">
	<div class="container" id="benefits">
		<h2 class="benefits__title">Мы&nbsp;создаем интернет-магазины, <span>которые продают</span></h2>
		<ul class="benefits__list">
			<li class="benefits__item">
				<span class="benefits__number">01</span>
				<h3 class="benefits__headline">Удобный интерфейс</h3>
				<p class="benefits__description">Блоковая подача информации, удобные кнопки, карточки товаров, понятное
					меню и&nbsp;легкая навигация по&nbsp;многостраничному сайту.</p>
			</li>
			<li class="benefits__item">
				<span class="benefits__number">02</span>
				<h3 class="benefits__headline">Продающая структура</h3>
				<p class="benefits__description">Делаем анализ вашей целевой аудитории и&nbsp;вашего предложения.
					Опираясь на&nbsp;анализ прописываем продающуюу структуру сайта.</p>
			</li>
			<li class="benefits__item">
				<span class="benefits__number">03</span>
				<h3 class="benefits__headline">Адаптивность</h3>
				<p class="benefits__description">Сайт корректно отображается на&nbsp;различных устройствах, элементы
					динамически подстраиваются под различные разрешения экрана, что повышает конверсию сайта
					в&nbsp;покупку.</p>
			</li>
			<li class="benefits__item">
				<span class="benefits__number">04</span>
				<h3 class="benefits__headline">Уникальный дизайн</h3>
				<p class="benefits__description">Не&nbsp;пользуемся шаблонными решениями. Под каждый проект
					разрабатывается индивидуальный дизайн который подчеркнет имидж компании</p>
			</li>
			<li class="benefits__item">
				<span class="benefits__number">05</span>
				<h3 class="benefits__headline">Защита и&nbsp;безопасность</h3>
				<p class="benefits__description">Подключаем HTPS протокол, защиту от&nbsp;DDOS атак, чтобы данные
					клиентов были в&nbsp;безопасности.</p>
			</li>
			<li class="benefits__item">
				<span class="benefits__number">06</span>
				<h3 class="benefits__headline">SEO оптимизация</h3>
				<p class="benefits__description">Сайты соответствуют требованиям поисковой оптимизации, они без труда
					покоряют топы поисковой выдачи Яндекс и&nbsp;Google.</p>
			</li>
		</ul>
		<button class="button button_primary benefits__button button-modal">Узнать стоимость</button>
	</div>
</section>