<section class="stages">
	<div class="container stages__container">
		<div class="stages__nav">
			<h2 class="stages__title">Этапы</h2>
			<ol class="stages__list">
				<li class="stages__item">
					<a href="#stage-1" class="stages__link">01. Маркетинговый анализ бизнеса</a>
				</li>
				<li class="stages__item">
					<a href="#stage-2" class="stages__link">02. Привлекательный дизайн</a>
				</li>
				<li class="stages__item">
					<a href="#stage-3" class="stages__link">03. Профессиональная верстка</a>
				</li>
				<li class="stages__item">
					<a href="#stage-4" class="stages__link">04. «Посадка» на CMS</a>
				</li>
				<li class="stages__item">
					<a href="#stage-5" class="stages__link">05. Тестирование и доработка</a>
				</li>
				<li class="stages__item">
					<a href="#stage-6" class="stages__link">06. Запуск сайта</a>
				</li>
			</ol>
		</div>
		<div class="stages__sections-list">
			<section class="section-stage stages__section" id="stage-1">
				<div class="section-stage__header">
					<div class="section-stage__number">1</div>
					<h3 class="section-stage__title">Маркетинговый анализ бизнеса</h3>
				</div>
				<div class="section-stage__text">
					<p class="section-stage__paragraph">На&nbsp;предварительном этапе мы&nbsp;выясняем специфику
						вашего
						бизнеса, товаров. Отмечаем ваши преимущества и&nbsp;уникальные предложения, изучаем ожидания
						и&nbsp;потребности целевой аудитории, рассматриваем ближайшее конкурентное окружение.
					</p>
					<p class="section-stage__paragraph">
						На&nbsp;основании полученных данных мы&nbsp;разрабатываем прототип интернет-магазина, пишем
						техническое&nbsp;ТЗ для специалистов, готовим рекомендации по&nbsp;текстовому наполнению
						с&nbsp;учетом требований SEO, разрабатываем план по&nbsp;внешней и&nbsp;внутренней
						оптимизации
						сайта. Также мы&nbsp;создаем набор готовых элементов для пользовательского интерфейса.
					</p>
				</div>
				<img src="img/stage-1.jpg" alt="Разработка прототипа" class="section-stage__image" loading="lazy">
			</section>
			<section class="section-stage stages__section" id="stage-2">
				<div class="section-stage__header">
					<div class="section-stage__number">2</div>
					<h3 class="section-stage__title">Привлекательный дизайн</h3>
				</div>
				<div class="section-stage__text">
					<p class="section-stage__paragraph">
						Интерфейс сайта будет соответствовать современным требованиям и&nbsp;отвечать ожиданиям целевой
						аудитории. Опытные специалисты Lillenium создадут UX-дизайн, отталкиваясь от&nbsp;данных анализа
						пользовательского поведения, что позволит в&nbsp;несколько раз увеличить конверсию.
					</p>
					<p class="section-stage__paragraph">
						Мы&nbsp;подберем оптимальные цветовые сочетания (основной, дополнительные, акцентные цвета),
						уделим внимание четкости графики, наглядности интерфейса, понятной и&nbsp;лаконичной
						визуализации.
					</p>
				</div>
				<img src="img/stage-2.jpg" alt="Интерфейс сайта" class="section-stage__image" loading="lazy">
			</section>
			<section class="section-stage stages__section" id="stage-3">
				<div class="section-stage__header">
					<div class="section-stage__number">3</div>
					<h3 class="section-stage__title">Профессиональная верстка</h3>
				</div>
				<div class="section-stage__text">
					<p class="section-stage__paragraph">
						Мы&nbsp;производим верстку по&nbsp;стандарту Pixel Perfect, который предполагает точное
						соответствие сверстанных страниц дизайн-макету. Наши специалисты напишут чистый код
						с&nbsp;двухфакторной проверкой, позволяющий обеспечить высокую скорость загрузки на&nbsp;любых
						браузерах и&nbsp;электронных устройствах (десктопных и&nbsp;мобильных).
					</p>
					<p class="section-stage__paragraph">
						Профессиональная адаптивная верстка является важным условием бесперебойной надежной работы сайта
						на&nbsp;протяжении длительного времени.
					</p>
				</div>
				<img src="img/stage-3.jpg" alt="Чистый код" class="section-stage__image" loading="lazy">
			</section>
			<section class="section-stage stages__section" id="stage-4">
				<div class="section-stage__header">
					<div class="section-stage__number">4</div>
					<h3 class="section-stage__title">«Посадка» на CMS</h3>
				</div>
				<div class="section-stage__text">
					<p class="section-stage__paragraph">
						Невозможно представить интернет-магазин без системы управления сайтом. Специалисты Lillenium
						выполнят посадку готовой верстки вашего магазина на&nbsp;CMS &#8470;&nbsp;1&nbsp;в странах
						СНГ&nbsp;&mdash; 1с&nbsp;Битрикс.
					</p>
					<p class="section-stage__paragraph">
						Благодаря CMS, вы&nbsp;просто заходите в&nbsp;административную панель, и, при помощи понятных
						полей, легко управляете содержимым&nbsp;&mdash; редактируете новости, вносите коррективы
						в&nbsp;товары, добавляет фото и&nbsp;видеоконтент, модерируете и&nbsp;выполняете множество
						других действий, которые без CMS были&nbsp;бы сущим кошмаром.
					</p>
				</div>
				<img src="img/stage-4.jpg" alt="CMS" class="section-stage__image" loading="lazy">
			</section>
			<section class="section-stage stages__section" id="stage-5">
				<div class="section-stage__header">
					<div class="section-stage__number">5</div>
					<h3 class="section-stage__title">Тестирование и доработка</h3>
				</div>
				<div class="section-stage__text">
					<p class="section-stage__paragraph">
						Чтобы избежать проблем во&nbsp;время использования сайта, на&nbsp;данном этапе
						мы&nbsp;отрабатываем все возможные сценарии взаимодействия пользователей с&nbsp;сайтом. Это
						позволяет вовремя выявить ошибки и&nbsp;устранить&nbsp;их. Мы&nbsp;тестируем usability
						и&nbsp;безопасность сайта, проверяем скорость загрузки страниц, работу форм обратной связи
						и&nbsp;интерактивных элементов, отображение страниц на&nbsp;разных устройствах. Это позволяет
						на&nbsp;100% гарантировать функциональность ресурса.
					</p>
				</div>
			</section>
			<section class="section-stage stages__section" id="stage-6">
				<div class="section-stage__header">
					<div class="section-stage__number">6</div>
					<h3 class="section-stage__title">Запуск сайта</h3>
				</div>
				<div class="section-stage__text">
					<p class="section-stage__paragraph">
						Когда все проверено и&nbsp;выполнены все нужные доработки, остается лишь выполнить грамотный
						запуск сайта. Наши специалисты сверяют всё по&nbsp;чек-листу, чтобы избежать неприятностей
						и&nbsp;получить на&nbsp;выходе идеальный интернет-магазин с&nbsp;высокой конверсией. Сайт
						от&nbsp;профессионалов Lillenium позволит вам легко привлекать новых клиентов и&nbsp;станет
						достойным лицом вашей компании в&nbsp;интернете.
					</p>
				</div>
			</section>
		</div>
	</div>
</section>