<section class="research">
	<div class="container">
		<h2 class="research__title">Исследуем <span>бизнес</span></h2>
		<div class="research__container">
			<div class="research__text">
				<p class="research__paragraph">Каждый клиент&nbsp;&mdash; своя история. Мы&nbsp;не&nbsp;берем шаблонные
					решения,
					а&nbsp;исследуем рынок конкретно под ваши цели и&nbsp;задачи.</p>
				<p class="research__paragraph">Сделать интернет-магазин с&nbsp;нуля непросто. Нужен сайт
					с&nbsp;качественной
					разработкой дизайна, который не&nbsp;будет отвлекать от&nbsp;сути, наполнением и&nbsp;рабочими
					модулями.
					Кроме этого, для успешного запуска электронной торговой площадки владельцу бизнеса требуется найти
					поставщиков, выбрать товарные позиции, просчитать рентабельность, уладить другие организационные
					вопросы
					вне
					сети.
				</p>
				<p class="research__paragraph">Создание интернет-магазина лучше делегировать на&nbsp;профессионалов.
					Мы&nbsp;возьмем
					на&nbsp;себя вопросы по&nbsp;разработке интернет-магазина под ключ. Специалисты компании
					предоставляют
					заказчику готовый продающий сайт. Он&nbsp;уже наполнен контентом, ориентирован на&nbsp;конечного
					потребителя
					и&nbsp;интуитивно понятен для заказчика.</p>
			</div>
			<img src="img/research-bg.jpg" alt="Исследование" class="research__image" loading="lazy">
		</div>
	</div>
</section>