<section class="callback-section">
	<div class="container">
		<div class="callback-section__container">
			<div class="callback-section__about">
				<h2 class="callback-section__title">Компания Lillenium-</h2>
				<div class="callback-section__text">
					<p class="callback-section__paragraph">
						Это дорогая и&nbsp;долгая разработка интернет-магазинов на&nbsp;1С&nbsp;Битрикс! Нельзя сделать
						<span>качественный</span> цифровой продукт за&nbsp;дешево и&nbsp;быстро!
					</p>
					<p class="callback-section__paragraph">
						Мы&nbsp;создадим интернет-магазин с&nbsp;нуля. Заказчику не&nbsp;придется искать других
						IT-специалистов для дальнейшей настройки и&nbsp;запуска сайта. Мы&nbsp;настроим сервисы,
						интегрируем
						модули для онлайн-торговли, добавим контент и&nbsp;товары. Работы по&nbsp;созданию
						интернет-магазина
						с&nbsp;нуля ведутся только после анализа ниши бизнеса.
					</p>
				</div>
			</div>
			<form action="#" class="callback-form callback-section__form">
				<h2 class="callback-form__title">
					Звоните нам по&nbsp;телефону<br>
					+1 (234) 567-89-00
				</h2>
				<p class="callback-form__caption">
					или закажите обратный звонок чтобы получить ответы на&nbsp;все интересующие вас вопросы.
				</p>
				<label class="callback-form__label">
					<input type="text" class="callback-form__input" placeholder="Введите ваше имя" name="name">
				</label>
				<label class="callback-form__label">
					<input type="tel" class="callback-form__input" placeholder="+ 7 (999) 999 99 99" name="phone">
				</label>
				<button class="button button_white callback-form__button" type="submit">Перезвоните мне</button>

				<label class="checkbox callback-form__checkbox">
					<input type="checkbox" class="checkbox__field" checked>
					<span class="checkbox__content"><span>Cогласен/а на</span>&nbsp;обработку персональных данных</span>
				</label>
			</form>
			<img src="img/callback-1.png" alt="" loading="lazy"
				class="callback-section__image callback-section__image_1">
			<img src="img/callback-2.png" alt="" loading="lazy"
				class="callback-section__image callback-section__image_2">
			<img src="img/callback-3.png" alt="" loading="lazy"
				class="callback-section__image callback-section__image_3">
			<img src="img/callback-4.png" alt="" loading="lazy"
				class="callback-section__image callback-section__image_4">
			<img src="img/callback-5.png" alt="" loading="lazy"
				class="callback-section__image callback-section__image_5">
		</div>
	</div>
</section>