// размеры и отступы
$max-vw: 1190px;
$min-vw: 320px;
$container-padding: 0 15px;
$section-padding: 75px 0;
$section-padding-mobile: 50px 0;

// цвета и тени
$color-white: #fff;
$color-primary: #2a2367;
$color-text-primary: $color-primary;
$color-secondary: #6b5af9;
$color-text-secondary: $color-secondary;
$color-dove-gray: #707070;
$color-hover-button: #7a6aff;
$color-red: #e37575;
$color-yellow: #f0d577;
$color-green: #43cd93;
$color-violet: #9895b4;
// шрифты
$font-primary: "Montserrat", sans-serif;
